# Stage 3 - Entity Mathcing

In [1]:
import pandas as pd

import py_entitymatching as em

## Data

The type of entity we want to match is company. The two tables are Forbes lists crawled from [Forbes](http://forbes.com/) and NASDAQ company information downloaded from [NASDAQ](http://www.nasdaq.com/). See detailed information about our data below.

In [2]:
data_dir = './dataset/structured_data/'

### Forbes data
(Description goes here...)

In [3]:
forbes_filename = 'forbes_all.csv'
forbes_df = pd.read_csv(open(data_dir + forbes_filename, encoding = "ISO-8859-1"))
print("# tuples:", len(forbes_df))

# tuples: 3110

Here is some sample tuples.

In [4]:
forbes_df[:5]

,id,Company,Country,Industry,Sales (M),Profits (M),Assets (M),Market Value (M),Employee
0,1,3i Group,United Kingdom,Investment Services,485,925,7500,6700,-
1,2,3M,United States,Conglomerates,30300,4800,32700,102200,-
2,3,4moms,United States,Consumer Durables,48,-,-,-,175
3,4,77 Bank,Japan,Regional Banks,853,165,69100,1400,-
4,5,84 Lumber,United States,Retailing,2500,-,-,-,4700

### NASDAQ data
(Description goes here...)

In [5]:
nasdaq_filename = 'nasdaq.csv'
nasdaq_df = pd.read_csv(data_dir + nasdaq_filename)
print("# tuples:", len(nasdaq_df))

# tuples: 6709

Here is some sample tuples.

In [6]:
nasdaq_df[:5]

,ID,Symbol,Name,LastSale,MarketCap,IPOyear,Sector,industry,Summary Quote
0,1,PIH,"1347 Property Insurance Holdings, Inc.",7.25,$43.2M,2014,Finance,Property-Casualty Insurers,http://www.nasdaq.com/symbol/pih
1,2,FLWS,"1-800 FLOWERS.COM, Inc.",10.15,$665.53M,1999,Consumer Services,Other Specialty Stores,http://www.nasdaq.com/symbol/flws
2,3,FCCY,1st Constitution Bancorp (NJ),18.6,$148.68M,n/a,Finance,Savings Institutions,http://www.nasdaq.com/symbol/fccy
3,4,SRCE,1st Source Corporation,47.06,$1.22B,n/a,Finance,Major Banks,http://www.nasdaq.com/symbol/srce
4,5,VNET,"21Vianet Group, Inc.",7.24,$823.07M,2011,Technology,"Computer Software: Programming, Data Processing",http://www.nasdaq.com/symbol/vnet

We are to make use of the fields of name, industry and market value.

In [7]:
all_fields = ['Name', 'Industry', 'MarketValue']

In [8]:
forbes = forbes_df.rename(columns={'Company':'Name', 'Market Value (M)':'MarketValue'})

In [9]:
nasdaq = nasdaq_df.rename(columns={'industry':'Industry', 'MarketCap':'MarketValue'})

## Sampling

For the ease of exploration and developement.

In [10]:
nasdaq_sample = nasdaq[:200]
nasdaq_sample.to_csv(data_dir + 'nasdaq_sample.csv')

In [11]:
forbes_sample = forbes[:100]
forbes_sample.to_csv(data_dir + 'forbes_sample.csv')