# Stage 3 - Entity Mathcing

In [1]:
import pandas as pd
import py_entitymatching as em

## 1. Data

The type of entity we want to match is company. The two tables are Forbes lists crawled from [Forbes](http://forbes.com/) and NASDAQ company information downloaded from [NASDAQ](http://www.nasdaq.com/). See detailed information about our data below.

In [2]:
data_dir = './dataset/structured_data/'

### 1.1 Forbes data

We collected company information from multiple ranking lists from Forbes website. The total tuples within this company infomation list is 3,110.

The attributes used in this list are: company name, country, industry, sales, profits, assets, market value, employee number.

In [3]:
forbes_filename = 'forbes_all.csv'
forbes_df = pd.read_csv(open(data_dir + forbes_filename, encoding = "ISO-8859-1"))
print("# tuples:", len(forbes_df))

# tuples: 3110

Here is some sample tuples.

In [4]:
forbes_df[:5]

,id,Company,Country,Industry,Sales (M),Profits (M),Assets (M),Market Value (M),Employee
0,1,77 Bank,Japan,Banks,853,165,69100,1400,-
1,2,Abu Dhabi Commercial Bank,United Arab Emirates,Banks,2800,1300,62100,11000,-
2,3,Abu Dhabi Islamic Bank,United Arab Emirates,Banks,1600,434,24300,3800,-
3,4,Agricultural Bank of China,China,Banks,131900,28800,2739800,152700,-
4,5,Ahli United Bank,Bahrain,Banks,1400,524,34000,4200,-

### NASDAQ data

We collected company stock information from NASDAQ websites. The total number of tuples found is 4,714. Attributes used in this list are:
symbol, name, lastsale, marketcap, country, IPOyear, sector, industry, summary quote.

In [5]:
nasdaq_filename = 'nasdaq.csv'
nasdaq_df = pd.read_csv(data_dir + nasdaq_filename)
print("# tuples:", len(nasdaq_df))

# tuples: 4714

Here is some sample tuples.

In [6]:
nasdaq_df[:5]

,id,Symbol,Name,LastSale,MarketCap,Country,IPOyear,Sector,Industry,Summary Quote
0,1,FLWS,"1-800 FLOWERS.COM, Inc.",10.15,665.525939,United States,1999,Consumer Services,Other Specialty Stores,http://www.nasdaq.com/symbol/flws
1,2,PIH,"1347 Property Insurance Holdings, Inc.",8.20,48.845481,United States,2014,Finance,Property-Casualty Insurers,http://www.nasdaq.com/symbol/pih
2,3,TURN,180 Degree Capital Corp.,1.45,44.811103,United States,n/a,Finance,Finance/Investors Services,http://www.nasdaq.com/symbol/turn
3,4,FCCY,1st Constitution Bancorp (NJ),18.50,148.505827,United States,n/a,Finance,Savings Institutions,http://www.nasdaq.com/symbol/fccy
4,5,SRCE,1st Source Corporation,46.95,1262.613016,United States,n/a,Finance,Major Banks,http://www.nasdaq.com/symbol/srce

We are to make use of the fields of name, industry, country and market value.
For the market value attribute, we have market value in the Forbes list and market cap in the NASDAQ list. Even though there are different terms, usually they represents the value of each company and have similar values. Thus, we treat them as comparable attributes and use them all as market value.

In [7]:
all_fields = ['Name', 'Industry', 'MarketValue', 'Country']

In [8]:
forbes = forbes_df.rename(columns={'Company':'Name', 'Market Value (M)':'MarketValue'})

In [9]:
nasdaq = nasdaq_df.rename(columns={'industry':'Industry', 'MarketCap':'MarketValue'})

## Sampling

For the ease of exploration and developement.

In [10]:
nasdaq_sample = nasdaq[:200]
nasdaq_sample.to_csv(data_dir + 'nasdaq_sample.csv')

In [11]:
forbes_sample = forbes[:100]
forbes_sample.to_csv(data_dir + 'forbes_sample.csv')