# Stage 4 - Entity Matching

## 4.1 Readin data and previous save matcher

In [1]:
from collections import Counter
import matplotlib.pyplot as plt
%matplotlib inline
import numpy as np
import pandas as pd
import py_entitymatching as em

In [2]:
data_dir = './dataset/structured_data/'
A_filename = data_dir+'forbes_all_rename.csv' 
B_filename = data_dir+'nasdaq_rename.csv' 
blocked_res = data_dir+'blocking_results.csv' 
shared_fields = ['Name',"Country", 'Industry', "MarketValue"] ## These are shared fileds
# use the random forest matcher
m = em.load_object(data_dir+"rf_matcher.pkl"); # load matcher from previous matching stage.

In [3]:
# Load orignial tables
A = pd.read_csv(A_filename, encoding = "ISO-8859-1" );
em.set_key(A, 'id');
A1 = A[['id'] + shared_fields];
em.set_key(A1, 'id');
B = pd.read_csv(B_filename,  encoding = "ISO-8859-1");
em.set_key(B, 'id');
B1 = B[['id'] + shared_fields];
em.set_key(B1, 'id');
# Load the pre-labeled data
S1 = em.read_csv_metadata(blocked_res, 
                         key='_id',
                         ltable=A1, rtable=B1, 
                         fk_ltable='ltable_id', fk_rtable='rtable_id',  encoding = "ISO-8859-1");

Metadata file is not present in the given path; proceeding to read the csv file.

## 4.2 Entity matching

Build features.

In [4]:
# Generate a set of features
F = em.get_features_for_matching(A1, B1)
# Add some new feature to F
def MarketValue_ratio(ltuple, rtuple) :
    try :
        return float(ltuple.MarketValue) / float(rtuple.MarketValue)
    except ValueError :
        return 0
em.add_blackbox_feature(F, 'MarketValue_ratio', MarketValue_ratio)

True

In [5]:
F.feature_name

0                                 id_id_exm
1                                 id_id_anm
2                            id_id_lev_dist
3                             id_id_lev_sim
4                 Name_Name_jac_qgm_3_qgm_3
5             Name_Name_cos_dlm_dc0_dlm_dc0
6             Name_Name_jac_dlm_dc0_dlm_dc0
7                             Name_Name_mel
8                        Name_Name_lev_dist
9                         Name_Name_lev_sim
10                            Name_Name_nmw
11                             Name_Name_sw
12          Country_Country_jac_qgm_3_qgm_3
13      Country_Country_cos_dlm_dc0_dlm_dc0
14      Country_Country_jac_dlm_dc0_dlm_dc0
15                      Country_Country_mel
16                 Country_Country_lev_dist
17                  Country_Country_lev_sim
18                      Country_Country_nmw
19                       Country_Country_sw
20        Industry_Industry_jac_qgm_3_qgm_3
21    Industry_Industry_cos_dlm_dc0_dlm_dc0
22    Industry_Industry_jac_dlm_dc0_dlm_dc0
23                    Industry_Industry_mel
24               Industry_Industry_lev_dist
25                Industry_Industry_lev_sim
26                    Industry_Industry_nmw
27                     Industry_Industry_sw
28                        MarketValue_ratio
Name: feature_name, dtype: object

Compute features for all blocked tuple pairs.

In [6]:
L1 = em.extract_feature_vecs(S1, feature_table=F, attrs_after='is_match',show_progress=False)
L1 = em.impute_table(L1, 
                    exclude_attrs=['_id', 'ltable_id', 'rtable_id',"is_match"],
                    strategy='mean')

Predict using the matcher.

In [7]:
predictions = m.predict(table=L1, exclude_attrs=['_id', 'ltable_id', 'rtable_id',"is_match"], 
                  append=True, target_attr='predicted', inplace=False)

In [8]:
predictions.to_csv(data_dir+"matching_result.csv") # save matching results to data directory

## 4.3 Find duplicates

In [9]:
import collections
fd = collections.defaultdict(list) # dictionary for forbes
nd = collections.defaultdict(list) # dictionary for nasdaq
lid = predictions["ltable_id"]
rid = predictions["rtable_id"]
match = predictions["predicted"]

# forbes dictionary
for i in range(len(lid)):
    if match[i] == 0:
        continue 
    fd[lid[i]].append(rid[i])
    nd[rid[i]].append(lid[i])

For the multiple matches for one entity, we checked the results manunally and figured such similar entities are difficult to identify even by human beings. We printed one example below.

In [10]:
S1[198:256]

,Unnamed: 0,_id,ltable_id,rtable_id,ltable_Country,ltable_Industry,ltable_MarketValue,ltable_Name,rtable_Name,rtable_Country,rtable_Sector,rtable_Industry,rtable_MarketValue,is_match
198,4327,4327,1907,556,United States,Investment Services,60400,BlackRock,BlackRock Capital Investment Corporation,United States,n/a,n/a,549.696980,0
199,4344,4344,1907,557,United States,Investment Services,60400,BlackRock,Blackrock Core Bond Trust,United States,n/a,n/a,720.033932,0
200,4355,4355,1907,558,United States,Investment Services,60400,BlackRock,"Blackrock Corporate High Yield Fund, Inc.",United States,n/a,n/a,1382.468375,0
201,4366,4366,1907,559,United States,Investment Services,60400,BlackRock,BlackRock Credit Allocation Income Trust,United States,n/a,n/a,1422.440317,0
202,4371,4371,1907,560,United States,Investment Services,60400,BlackRock,"Blackrock Debt Strategies Fund, Inc.",United States,n/a,n/a,717.746746,0
203,4381,4381,1907,561,United States,Investment Services,60400,BlackRock,Blackrock Defined Opportunity Credit Trust,United States,n/a,n/a,124.084243,0
204,4415,4415,1907,562,United States,Investment Services,60400,BlackRock,BlackRock Energy and Resources Trust,United States,n/a,n/a,410.098232,0
205,4431,4431,1907,563,United States,Investment Services,60400,BlackRock,Blackrock Enhanced Equity Dividend Trust,United States,n/a,n/a,1615.764653,0
206,4438,4438,1907,564,United States,Investment Services,60400,BlackRock,"Blackrock Enhanced Government Fund, Inc",United States,n/a,n/a,85.866280,0
207,4439,4439,1907,565,United States,Investment Services,60400,BlackRock,Blackrock Floating Rate Income Strategies Fund Inc,United States,n/a,n/a,539.498751,0
208,4440,4440,1907,566,United States,Investment Services,60400,BlackRock,Blackrock Florida Municipal 2020 Term Trust,United States,n/a,n/a,83.931955,0
209,4456,4456,1907,567,United States,Investment Services,60400,BlackRock,Blackrock Global,United States,n/a,n/a,338.147585,0
210,4471,4471,1907,568,United States,Investment Services,60400,BlackRock,Blackrock Global,United States,n/a,n/a,861.591196,0
211,4503,4503,1907,569,United States,Investment Services,60400,BlackRock,Blackrock Health Sciences Trust,United States,n/a,n/a,299.137087,0
212,4520,4520,1907,570,United States,Investment Services,60400,BlackRock,BlackRock Income Investment Quality Trust,United States,n/a,n/a,125.554148,0
213,4537,4537,1907,571,United States,Investment Services,60400,BlackRock,BlackRock Income Trust Inc. (The),United States,n/a,n/a,395.804292,0
214,4633,4633,1907,573,United States,Investment Services,60400,BlackRock,BlackRock Investment Quality Municipal Trust Inc. (The),United States,n/a,n/a,248.851238,0
215,4648,4648,1907,574,United States,Investment Services,60400,BlackRock,BlackRock Long-Term Municipal Advantage Trust,United States,n/a,n/a,153.818951,0
216,4660,4660,1907,575,United States,Investment Services,60400,BlackRock,BlackRock Maryland Municipal Bond Trust,United States,n/a,n/a,29.507417,0
217,4678,4678,1907,576,United States,Investment Services,60400,BlackRock,BlackRock Massachusetts Tax-Exempt Trust,United States,n/a,n/a,33.023947,0
218,4682,4682,1907,577,United States,Investment Services,60400,BlackRock,Blackrock Muni Intermediate Duration Fund Inc,United States,n/a,n/a,530.403284,0
219,4692,4692,1907,578,United States,Investment Services,60400,BlackRock,Blackrock Muni New York Intermediate Duration Fund Inc,United States,n/a,n/a,57.843257,0
220,4698,4698,1907,579,United States,Investment Services,60400,BlackRock,"Blackrock MuniAssets Fund, Inc.",United States,n/a,n/a,508.248661,0
221,4699,4699,1907,580,United States,Investment Services,60400,BlackRock,Blackrock Municipal 2018 Term Trust,United States,n/a,n/a,240.211223,0
222,4710,4710,1907,581,United States,Investment Services,60400,BlackRock,Blackrock Municipal 2020 Term Trust,United States,n/a,n/a,319.131624,0
223,4722,4722,1907,582,United States,Investment Services,60400,BlackRock,Blackrock Municipal Bond Trust,United States,n/a,n/a,158.380297,0
224,4742,4742,1907,583,United States,Investment Services,60400,BlackRock,BlackRock Municipal Income Investment Trust,United States,n/a,n/a,149.655613,0
225,4759,4759,1907,584,United States,Investment Services,60400,BlackRock,Blackrock Municipal Income Quality Trust,United States,n/a,n/a,368.103446,0
226,4770,4770,1907,585,United States,Investment Services,60400,BlackRock,BlackRock Municipal Income Trust,United States,n/a,n/a,624.581588,0
227,4781,4781,1907,586,United States,Investment Services,60400,BlackRock,BlackRock Municipal Income Trust II,United States,n/a,n/a,349.301847,0
228,4799,4799,1907,587,United States,Investment Services,60400,BlackRock,BlackRock Municipal Target Term Trust Inc. (The),United States,n/a,n/a,1595.541072,0
229,4803,4803,1907,588,United States,Investment Services,60400,BlackRock,"Blackrock MuniEnhanced Fund, Inc.",United States,n/a,n/a,346.538839,0
230,4804,4804,1907,589,United States,Investment Services,60400,BlackRock,"Blackrock MuniHoldings California Quality Fund, Inc.",United States,n/a,n/a,581.005184,0
231,4805,4805,1907,590,United States,Investment Services,60400,BlackRock,"Blackrock MuniHoldings Fund II, Inc.",United States,n/a,n/a,175.706389,0
232,4806,4806,1907,591,United States,Investment Services,60400,BlackRock,"Blackrock MuniHoldings Fund, Inc.",United States,n/a,n/a,234.681656,0
233,4820,4820,1907,592,United States,Investment Services,60400,BlackRock,Blackrock MuniHoldings Investment Quality Fund,United States,n/a,n/a,543.489408,0
234,4833,4833,1907,593,United States,Investment Services,60400,BlackRock,"Blackrock MuniHoldings New Jersey Insured Fund, Inc.",United States,n/a,n/a,428.787960,0
235,4848,4848,1907,594,United States,Investment Services,60400,BlackRock,"Blackrock MuniHoldings New York Quality Fund, Inc.",United States,n/a,n/a,424.018153,0
236,4854,4854,1907,595,United States,Investment Services,60400,BlackRock,"Blackrock MuniHoldings Quality Fund II, Inc.",United States,n/a,n/a,298.326718,0
237,4855,4855,1907,596,United States,Investment Services,60400,BlackRock,"Blackrock MuniHoldings Quality Fund, Inc.",United States,n/a,n/a,171.672796,0
238,4856,4856,1907,597,United States,Investment Services,60400,BlackRock,"Blackrock MuniVest Fund II, Inc.",United States,n/a,n/a,322.469071,0
239,4857,4857,1907,598,United States,Investment Services,60400,BlackRock,"Blackrock MuniYield California Fund, Inc.",United States,n/a,n/a,314.599451,0
240,4858,4858,1907,599,United States,Investment Services,60400,BlackRock,"Blackrock MuniYield California Insured Fund, Inc.",United States,n/a,n/a,506.662669,0
241,4859,4859,1907,600,United States,Investment Services,60400,BlackRock,"Blackrock MuniYield Fund, Inc.",United States,n/a,n/a,671.898004,0
242,4873,4873,1907,601,United States,Investment Services,60400,BlackRock,Blackrock MuniYield Investment Fund,United States,n/a,n/a,208.519620,0
243,4889,4889,1907,602,United States,Investment Services,60400,BlackRock,Blackrock MuniYield Investment QualityFund,United States,n/a,n/a,117.282015,0
244,4892,4892,1907,603,United States,Investment Services,60400,BlackRock,"Blackrock MuniYield Michigan Quality Fund, Inc.",United States,n/a,n/a,402.264458,0
245,4903,4903,1907,604,United States,Investment Services,60400,BlackRock,"Blackrock MuniYield New Jersey Fund, Inc.",United States,n/a,n/a,219.296233,0
246,4918,4918,1907,605,United States,Investment Services,60400,BlackRock,"Blackrock MuniYield New York Quality Fund, Inc.",United States,n/a,n/a,513.042129,0
247,4924,4924,1907,606,United States,Investment Services,60400,BlackRock,Blackrock MuniYield Pennsylvania Quality Fund,United States,n/a,n/a,188.668917,0
248,4925,4925,1907,607,United States,Investment Services,60400,BlackRock,"Blackrock MuniYield Quality Fund II, Inc.",United States,n/a,n/a,288.516935,0
249,4926,4926,1907,608,United States,Investment Services,60400,BlackRock,"Blackrock MuniYield Quality Fund III, Inc.",United States,n/a,n/a,947.091172,0
250,4927,4927,1907,609,United States,Investment Services,60400,BlackRock,"Blackrock MuniYield Quality Fund, Inc.",United States,n/a,n/a,459.582428,0
251,4949,4949,1907,610,United States,Investment Services,60400,BlackRock,Blackrock New Jersey Municipal Bond Trust,United States,n/a,n/a,33.690746,0
252,4975,4975,1907,611,United States,Investment Services,60400,BlackRock,BlackRock New Jersey Municipal Income Trust,United States,n/a,n/a,113.527329,0
253,4997,4997,1907,612,United States,Investment Services,60400,BlackRock,BlackRock New York Investment Quality Municipal Trust Inc. (Th,United States,n/a,n/a,185.288420,0
254,5040,5040,1907,613,United States,Investment Services,60400,BlackRock,Blackrock New York Municipal 2018 Term Trust,United States,n/a,n/a,54.059093,0
255,5065,5065,1907,614,United States,Investment Services,60400,BlackRock,Blackrock New York Municipal Bond Trust,United States,n/a,n/a,39.428279,0

Thus, we choose to only care about one-to-one matches, resulting in a total number of 704 matched entities.

In [11]:
## list of one-to-one matches
total_match = list() # list((l_id, r_id))

for ltable_id in fd :
    if len(fd[ltable_id]) == 1 :
        rtable_id = fd[ltable_id][0]
        if len(nd[rtable_id]) == 1 :
            total_match.append((ltable_id, rtable_id))

print (len(total_match))

703

## 4.4 New schema for combined table

First, we check the existing schema.

- Fileds shared with both tables

In [12]:
shared_fields

['Name', 'Country', 'Industry', 'MarketValue']

- Fields only in table A (Forbes)

In [13]:
A_unique_fields = list(set(A.columns) - set(B.columns))
A_unique_fields

['Assets', 'Employee', 'Sales', 'Profits']

- Fields only in table B (NASDAQ)

In [14]:
B_unique_fields = list(set(B.columns) - set(A.columns))
B_unique_fields

['IPOyear', 'Symbol', 'LastSale', 'Summary Quote', 'Sector']

Based on the features in two tables, we define the new table schema to be the combine of all fields above, plus 'ltable_id' and 'rtable_id' as foreign key to original tables A and B.

In [15]:
combined_fields = shared_fields + A_unique_fields + B_unique_fields
E_fields = ['ltable_id', 'rtable_id'] + combined_fields
E_fields

['ltable_id',
 'rtable_id',
 'Name',
 'Country',
 'Industry',
 'MarketValue',
 'Assets',
 'Employee',
 'Sales',
 'Profits',
 'IPOyear',
 'Symbol',
 'LastSale',
 'Summary Quote',
 'Sector']

## 4.5 Combining

Because NASDAQ table contains the company information formally registered on file, we use feature values from NASDAQ table if there is a conflict between two tables over shared fields (company name, industry, country).

In [16]:
A_fields = shared_fields + A_unique_fields
B_fields = shared_fields + B_unique_fields

In [17]:
A_indexed = A.set_index('id')
B_indexed = B.set_index('id')

In [36]:
E_match = pd.DataFrame(index=range(len(total_match)), columns=E_fields)
for i, (ltable_id, rtable_id) in enumerate(total_match) :
    E_match.loc[i, 'ltable_id'] = ltable_id
    E_match.loc[i, 'rtable_id'] = rtable_id
    E_match.loc[i] = E_match.loc[i].combine_first(B_indexed.ix[rtable_id][B_fields]).combine_first(A_indexed.ix[ltable_id][A_fields])

E_match.head()

,ltable_id,rtable_id,Name,Country,Industry,MarketValue,Assets,Employee,Sales,Profits,IPOyear,Symbol,LastSale,Summary Quote,Sector
0,2051,3485,Principal Financial Group Inc,United States,Accident &Health Insurance,18142.7,218700,NaN,11900,1200,2001,PFG,63.11,http://www.nasdaq.com/symbol/pfg,Finance
1,2053,3517,"Prudential Financial, Inc.",United States,Life Insurance,45911.9,757400,NaN,53200,5600,2001,PRU,106.68,http://www.nasdaq.com/symbol/pru,Finance
2,684,1103,Constellation Brands Inc,United States,Beverages (Production/Distribution),31775.4,17000,NaN,6500,1100,NaN,STZ,162.07,http://www.nasdaq.com/symbol/stz,Consumer Non-Durables
3,2061,4234,Torchmark Corporation,United States,Life Insurance,9082.82,19900,NaN,3800,527,NaN,TMK,77.04,http://www.nasdaq.com/symbol/tmk,Finance
4,19,372,Associated Banc-Corp,United States,Major Banks,3718.84,28200,NaN,1100,183,NaN,ASB,24.4,http://www.nasdaq.com/symbol/asb,Finance

In [37]:
unique_ltable_ids = [i for i in A.id if i not in set(ltable_id for ltable_id, _ in total_match)]
E_A_only = pd.DataFrame(index=range(len(unique_ltable_ids)), columns=E_fields)
for i, ltable_id in enumerate(unique_ltable_ids) :
    E_A_only.loc[i, 'ltable_id'] = ltable_id
    E_A_only.loc[i, A_fields] = A_indexed.ix[ltable_id][A_fields]

E_A_only.head()

,ltable_id,rtable_id,Name,Country,Industry,MarketValue,Assets,Employee,Sales,Profits,IPOyear,Symbol,LastSale,Summary Quote,Sector
0,1,NaN,77 Bank,Japan,Banks,1400,69100,NaN,853,165,NaN,NaN,NaN,NaN,NaN
1,2,NaN,Abu Dhabi Commercial Bank,United Arab Emirates,Banks,11000,62100,NaN,2800,1300,NaN,NaN,NaN,NaN,NaN
2,3,NaN,Abu Dhabi Islamic Bank,United Arab Emirates,Banks,3800,24300,NaN,1600,434,NaN,NaN,NaN,NaN,NaN
3,4,NaN,Agricultural Bank of China,China,Banks,152700,2739800,NaN,131900,28800,NaN,NaN,NaN,NaN,NaN
4,5,NaN,Ahli United Bank,Bahrain,Banks,4200,34000,NaN,1400,524,NaN,NaN,NaN,NaN,NaN

In [38]:
unique_rtable_ids = [i for i in B.id if i not in set(rtable_id for _, rtable_id in total_match)]
E_B_only = pd.DataFrame(index=range(len(unique_rtable_ids)), columns=E_fields)
for i, rtable_id in enumerate(unique_rtable_ids) :
    E_B_only.loc[i, 'rtable_id'] = rtable_id
    E_B_only.loc[i, B_fields] = B_indexed.ix[rtable_id][B_fields]

E_B_only.head()

,ltable_id,rtable_id,Name,Country,Industry,MarketValue,Assets,Employee,Sales,Profits,IPOyear,Symbol,LastSale,Summary Quote,Sector
0,NaN,1,"1-800 FLOWERS.COM, Inc.",United States,Other Specialty Stores,665.526,NaN,NaN,NaN,NaN,1999,FLWS,10.15,http://www.nasdaq.com/symbol/flws,Consumer Services
1,NaN,2,"1347 Property Insurance Holdings, Inc.",United States,Property-Casualty Insurers,48.8455,NaN,NaN,NaN,NaN,2014,PIH,8.2,http://www.nasdaq.com/symbol/pih,Finance
2,NaN,3,180 Degree Capital Corp.,United States,Finance/Investors Services,44.8111,NaN,NaN,NaN,NaN,NaN,TURN,1.45,http://www.nasdaq.com/symbol/turn,Finance
3,NaN,4,1st Constitution Bancorp (NJ),United States,Savings Institutions,148.506,NaN,NaN,NaN,NaN,NaN,FCCY,18.5,http://www.nasdaq.com/symbol/fccy,Finance
4,NaN,5,1st Source Corporation,United States,Major Banks,1262.61,NaN,NaN,NaN,NaN,NaN,SRCE,46.95,http://www.nasdaq.com/symbol/srce,Finance

In [39]:
E = E_match.append(E_A_only).append(E_B_only).reset_index(drop=True)
E.tail()

,ltable_id,rtable_id,Name,Country,Industry,MarketValue,Assets,Employee,Sales,Profits,IPOyear,Symbol,LastSale,Summary Quote,Sector
7116,NaN,4710,ZTO Express (Cayman) Inc.,China,Trucking Freight/Courier Services,9574.11,NaN,NaN,NaN,NaN,2016,ZTO,13.09,http://www.nasdaq.com/symbol/zto,Transportation
7117,NaN,4711,Zumiez Inc.,United States,Clothing/Shoe/Accessory Stores,456.463,NaN,NaN,NaN,NaN,2005,ZUMZ,18.3,http://www.nasdaq.com/symbol/zumz,Consumer Services
7118,NaN,4712,"Zweig Fund, Inc. (The)",United States,NaN,180.265,NaN,NaN,NaN,NaN,1986,ZF,11.12,http://www.nasdaq.com/symbol/zf,NaN
7119,NaN,4713,"Zynerba Pharmaceuticals, Inc.",United States,Major Pharmaceuticals,265.618,NaN,NaN,NaN,NaN,2015,ZYNE,20.1,http://www.nasdaq.com/symbol/zyne,Health Care
7120,NaN,4714,Zynga Inc.,United States,EDP Services,2474.38,NaN,NaN,NaN,NaN,2011,ZNGA,2.85,http://www.nasdaq.com/symbol/znga,Technology

In [40]:
E.to_csv(data_dir + 'E.csv')

## 4.6 Statistics of Table E

- Schema

In [41]:
E.columns

Index(['ltable_id', 'rtable_id', 'Name', 'Country', 'Industry', 'MarketValue',
       'Assets', 'Employee', 'Sales', 'Profits', 'IPOyear', 'Symbol',
       'LastSale', 'Summary Quote', 'Sector'],
      dtype='object')

- Number of tuples

In [42]:
len(E)

7121

- Example tuples

 1. Tuples from both tables A and B
 1. Tuples from only table A
 1. Tuples from only Table B

In [43]:
E.loc[[1, 563]]

,ltable_id,rtable_id,Name,Country,Industry,MarketValue,Assets,Employee,Sales,Profits,IPOyear,Symbol,LastSale,Summary Quote,Sector
1,2053,3517,"Prudential Financial, Inc.",United States,Life Insurance,45911.9,757400,NaN,53200,5600,2001,PRU,106.68,http://www.nasdaq.com/symbol/pru,Finance
563,1508,1930,"Golub Capital BDC, Inc.",United States,Food Markets,1097.56,NaN,20626,3400,NaN,2010,GBDC,19.87,http://www.nasdaq.com/symbol/gbdc,NaN

In [44]:
E.loc[[1000, 1234]]

,ltable_id,rtable_id,Name,Country,Industry,MarketValue,Assets,Employee,Sales,Profits,IPOyear,Symbol,LastSale,Summary Quote,Sector
1000,316,NaN,China Biologic Products,Hong Kong,NaN,2941,NaN,NaN,297,87,NaN,NaN,NaN,NaN,NaN
1234,588,NaN,Inditex,Spain,Apparel/Footwear Retail,103200,18800,NaN,23100,3200,NaN,NaN,NaN,NaN,NaN

In [46]:
E.loc[[5000, 7000]]

,ltable_id,rtable_id,Name,Country,Industry,MarketValue,Assets,Employee,Sales,Profits,IPOyear,Symbol,LastSale,Summary Quote,Sector
5000,NaN,2217,"Innoviva, Inc.",United States,Major Pharmaceuticals,1509.16,NaN,NaN,NaN,NaN,NaN,INVA,13.82,http://www.nasdaq.com/symbol/inva,Health Care
7000,NaN,4570,"Western Asset Managed Municipals Fund, Inc.",United States,NaN,592.45,NaN,NaN,NaN,NaN,1992,MMU,13.76,http://www.nasdaq.com/symbol/mmu,NaN

## 4.7 Merging function explained

We use NASDAQ as major table and Forbes as minor table. That is, we will proriorly use values from table B for shared fields if the field is present in both tables.

This can be best seen with those matches whose shared fields have N/A in both of the original tables A and B. We list match ids here.

In [23]:
for i_match, (ltable_id, rtable_id) in enumerate(total_match) :
    ltuple, rtuple = A_indexed.ix[ltable_id], B_indexed.ix[rtable_id]
    if any(ltuple[shared_fields].isnull()) and any(rtuple[shared_fields].isnull()) :
        print(i_match)

563

Here is a pair of tuples from A and B.

In [24]:
i_match = 563
total_match[i_match]

(1508, 1930)

In [25]:
ltable_id, rtable_id = total_match[i_match]
ltuple, rtuple = A_indexed.ix[ltable_id], B_indexed.ix[rtable_id]

In [26]:
ltuple.ix[A_fields]

Name                   Golub
Country        United States
Industry        Food Markets
MarketValue              NaN
Assets                   NaN
Employee               20626
Sales                   3400
Profits                  NaN
Name: 1508, dtype: object

In [27]:
rtuple.ix[B_fields]

Name                       Golub Capital BDC, Inc.
Country                              United States
Industry                                       NaN
MarketValue                                1097.56
IPOyear                                       2010
Symbol                                        GBDC
LastSale                                     19.87
Summary Quote    http://www.nasdaq.com/symbol/gbdc
Sector                                         NaN
Name: 1930, dtype: object

In [28]:
combined_tuple = pd.Series(index=E_fields)

In [29]:
combined_tuple = combined_tuple.combine_first(rtuple[B_fields])
combined_tuple

Assets                                         NaN
Country                              United States
Employee                                       NaN
IPOyear                                       2010
Industry                                       NaN
LastSale                                     19.87
MarketValue                                1097.56
Name                       Golub Capital BDC, Inc.
Profits                                        NaN
Sales                                          NaN
Sector                                         NaN
Summary Quote    http://www.nasdaq.com/symbol/gbdc
Symbol                                        GBDC
ltable_id                                      NaN
rtable_id                                      NaN
dtype: object

In [30]:
combined_tuple = combined_tuple.combine_first(ltuple[A_fields])
combined_tuple

Assets                                         NaN
Country                              United States
Employee                                     20626
IPOyear                                       2010
Industry                              Food Markets
LastSale                                     19.87
MarketValue                                1097.56
Name                       Golub Capital BDC, Inc.
Profits                                        NaN
Sales                                         3400
Sector                                         NaN
Summary Quote    http://www.nasdaq.com/symbol/gbdc
Symbol                                        GBDC
ltable_id                                      NaN
rtable_id                                      NaN
dtype: object

Note that we use value from table A for "Industry" which only presents in A, value from table B for "MarketValue" which only presents in B, and value from table B for "Name" which presents in both A and B.

This is exactly what we got in E.

In [31]:
E_match.loc[i_match]

ltable_id                                     1508
rtable_id                                     1930
Name                       Golub Capital BDC, Inc.
Country                              United States
Industry                              Food Markets
MarketValue                                1097.56
Assets                                         NaN
Employee                                     20626
Sales                                         3400
Profits                                        NaN
IPOyear                                       2010
Symbol                                        GBDC
LastSale                                     19.87
Summary Quote    http://www.nasdaq.com/symbol/gbdc
Sector                                         NaN
Name: 563, dtype: object